{% extends "prode_app/base.html" %}
{% block content %}

<h1>Mis Tarjetas</h1>

<p>
    <a href="{% url 'crear_tarjeta' %}" class="button">Crear Tarjeta</a>
</p>

{% if tarjetas %}
<div class="card-list">
    {% for t in tarjetas %}
    <div class="card-item">
        <h3>{{ t.tarjeta.nombre_tarjeta }}</h3>
        <p>
            <em>Por: {{ t.tarjeta.usuario.username }}{% if t.tarjeta.usuario == user %} (Tu tarjeta){% endif %}</em><br>
            Fecha: {{ t.tarjeta.fecha.numero }} — Puntos: <strong>{{ t.tarjeta.puntos }}</strong>
        </p>

        {% if t.pagada %}
            <p style="color: green; font-weight: bold;">✔ Comprobante enviado</p>
        {% else %}
            {% if t.tarjeta.usuario == user %}
            <a href="{% url 'subir_comprobante' %}?tarjeta={{ t.tarjeta.id }}" class="button primary">
                Subir comprobante
            </a>
            {% endif %}
        {% endif %}

        <div style="margin-top:10px;">
            <a href="{% url 'detalle_tarjeta' t.tarjeta.id %}" class="button secondary">Ver detalle</a>
            {% if user.is_superuser %}
            <a href="{% url 'borrar_tarjeta' t.tarjeta.id %}" 
               onclick="return confirm('¿Seguro que deseas borrar esta tarjeta?');" 
               class="button boton-rojo">
               Borrar
            </a>
            {% endif %}
            <a href="{% url 'ranking_fecha' t.tarjeta.fecha.id %}" class="button secondary">Ver Ranking</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No hay tarjetas todavía.</p>
{% endif %}

{% endblock %}
